<!-- <div class="col-md-3 col-sm-12 col-xs-12">
    <button (click)="setMapType('terrain')" class="btn btn-primary">Terrain</button>
    <button (click)="setMapType('satellite')" class="btn btn-danger">Satellite</button>
    <button (click)="setMapType('roadmap')" class="btn btn-warning">Road Map</button>
  </div> -->

  <hr class="featurette-divider"/>
  <div class="row">
            <div class="container justify-content-center" style="margin-top:100px;margin-right: 0em;">
                <div class="col">
                    <div class="row">
                        <div class="col-4" id="map1">
                            <h4>Endereço Unidade I</h4>
                            <p class="text-jusitify">Rua Professor Lazaro oestes s/n Qd 14 Lt 17 - loja 01 Vila Nova Canaã - Goiânia.</p>
                            <p>Telefone: (62) 3558-7563</p>
                            <div class="row" id="mapRouter">
                                <div #gmap style="width:100%;height:500px"></div>
                            </div>
                        </div>
                        <div class="col-4" id="map2">
                            <h4>Endereço Unidade II</h4>
                            <p class="text-jusitify">Rua Irlanda s/n Qd 131 Lt 15 - Jd Europa - Goiânia.</p>
                            <p>Telefone: (62) 3558-7563</p>
                            <div class="row" id="mapRouter">
                                <div #gmap2 style="width:100%;height:500px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
  