<div *ngIf="loading">   
    <div class="blockColor">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <p class="text-justify textShow">Carregando as Imagens, aguarde ...</p>
        </div>
    </div>
</div>
<div class="divisor"></div>
<button type="button" class="btn btn-primary" id="btnModal" data-toggle="modal" data-target="#exampleModalCenter">Small modal</button>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
              Atenção
            </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" role="alert">
                Erro ao carregar os dados.
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
        <div class="container">
                <!-- <div class="card-columns">
                    <div class="card" *ngFor="let imagem of caminhoDasImagens">
                            <img class="card-img-top" src="{{servidorWebApi}}{{imagem['caminhoImagem']}}" alt="Card image cap"/>
                    </div>  
                </div> -->
                <div class="row">
                    <div class="col">
                        <h3 class="text-center" style="margin-top: 4em;margin-bottom:1em">Modelos {{tipoImagem}} <i class="material-icons"> visibility </i></h3>
                        <!-- <div class="accordion" id="accordionExample" style="margin-bottom: 2em;">
                                <div class="card">
                                        <div class="card-header" id="headingThree">
                                          <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                              Sobre este Modelo
                                            </button>
                                          </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                          <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                          </div>
                                        </div>
                                    </div>  
                            </div>   -->
                            <div class="row">
                                <!-- <div *ngFor="let imagem of caminhoDasImagens" class="card"> -->
                                    <div class="card col-4" *ngFor="let imagem of caminhoDasImagensManual" style="margin-bottom: 1em;border: 1px solid #080808">
                                        <div *ngIf="imagem['caminho'] != ''">
                                            <img src="{{imagem['caminho']}}" alt="" class="card-img-top w-100 imgDados">
                                        </div>
                                    <!-- <img class="card-img-top w-100" src="{{servidorWebApi}}{{imagem['caminhoImagem']}}" 
                                        alt="Card image cap"/> -->
                                    <div class="card-body">
                                        <!-- <h5 class="card-title">{{imagem['tituloImagem']}}</h5> -->
                                        <!-- <p class="card-text">{{imagem['descricaoImagem']}}.</p> -->
                                    </div>
                                </div>
                            </div>
                        
                    </div>     
                </div>
        </div>
  </div>



<!-- <div class="row">
    <section class="col-2">
        <h4 style="text-align: center">Categorias</h4>
        <div class="dropdown-divider"></div>
        <div class="d-flex w-100" 
                style="background:#007bff;">
                <div class="btn btn-primary nav-link collapsed col-8 ">
                    Acessórios
                </div>
                <button aria-expanded="false" class="btn btn-primary nav-link col-2 collapsed btn-primary-menu" 
                
                    data-target="#subMenuRoupas" data-toggle="collapse" href="#subMenuRoupas">
                    <i  class="fas fa-plus" style="
                color: white;   
                "></i>
                </button>
            </div>
        <div class="collapse" id="subMenuRoupas" aria-expanded="false">
            <ul class="flex-column pl-2 nav">
                <li class="nav-item">
                    <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')" >Rede de Cabelo</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')">Jalecos</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')" >Colete</button>
                </li>
                
            </ul>
        </div>   
            <div class="dropdown-divider"></div>
    
            <div class="d-flex w-100" 
                style="background:#007bff;">
                <div class="btn btn-primary nav-link collapsed col-8">
                    Camisetas
                </div>
                <button aria-expanded="false" class="btn btn-primary nav-link col-2 collapsed btn-primary-menu" 
                    data-target="#subMenuUniformes1" data-toggle="collapse" href="#subMenuUniformes1">
                    <i  class="fas fa-plus" style="
                color: white;   
                "></i>
                </button>
            </div>
            <div class="collapse" id="subMenuUniformes1" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item">
                            <button type="button" class="nav-link collapsed py-1 btn btn-link" 
                            data-toggle="collapse" (click)="carregaItens('calcaLeggins','Calcas Leggins')">Legs</button>
                        </li>
                        <li class="nav-item">
                                <button type="button" 
                                class="nav-link collapsed py-1 btn btn-link" 
                                data-toggle="collapse" (click)="carregaItens('app-itens-roupas')">Camisa social</button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')" >Polo Baby Look</button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')" >Polo tradicional</button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')" >Camiseta Básica</button>
                            </li>
                    </ul>
                </div> 
    
            <div class="dropdown-divider"></div>
            <div class="d-flex w-100" 
                style="background:#007bff;">
                <div class="btn btn-primary nav-link collapsed col-8 ">
                    Calcas 
                </div>
                <button
                aria-expanded="false" class="btn btn-primary nav-link col-2 collapsed btn-primary-menu" 
                    data-target="#subMenuCalLeggings" data-toggle="collapse" href="#subMenuCalLeggings">
                    <i  class="fas fa-plus" style="
                color: white;   
                "></i>
                </button>
            </div>
            <div class="collapse" id="subMenuCalLeggings" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item">
                            <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('calcaLeggins','Calcas Leggins')" >Calcas Leggins</button>
                        </li>
                            
                    </ul>
                </div>
            <div class="dropdown-divider"></div>
    
            <div class="d-flex w-100" 
                style="background:#007bff;">
                <div class="btn btn-primary nav-link collapsed col-8 ">
                    Outros
                </div>
                <button
                aria-expanded="false" class="btn btn-primary nav-link col-2 collapsed btn-primary-menu" 
                    data-target="#subMenuOutros" data-toggle="collapse" href="#subMenuOutros">
                    <i  class="fas fa-plus" style="
                color: white;   
                "></i>
                </button>
            </div>
            <div class="collapse" id="subMenuOutros" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item">
                            <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')" >Itens</button>
                        </li>
                            
                    </ul>
                </div>
    </section>
<section class="col-10">
    <ul class="nav nav-tabs">    
        <li class="nav-item">
            <a class="nav-link active">{{NomeAba}}</a>
        </li>
    </ul>
<div class="section-destaque">
    <div class="container">
        <div class="row">
                  <div class="card md-4 shadow p-3 mb-2 bg-white rounded m-25 col-2 align-itens-destaque space-element" 
                  *ngFor="let cadaItem of listaDeRoupas">
                    <img class="card-img-top" src="{{cadaItem['caminhoImage']}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{cadaItem['nomeDaRoupa']}}</h5>
                        <p class="card-text">{{cadaItem['descricaoRoupa']}}.</p>
                        <div class="row"></div>
                        <a href="#" class="btn btn-primary">Ver sobre mais.</a>
                    </div>
                </div>  
            </div>
        </div>
      </div>
    </section> -->