.card-img-top
{
    height: 200px;
    
}
.section-destaque
{
    margin-top: 10px;
}
.align-itens-destaque
{
    align-items: center;
}
.space-element
{
    margin-left: 20px;
    margin-right: 20px;
}