<hr class="featurette-divider"/>
<div class="container" style="padding-bottom: 3.5rem;padding-top: 7.5rem">
    <span class="shadow-lg">
      <div class="card">
        <div class="col-12">
            <h4 class="card-title" style="text-align: center;margin-top: 20px;margin-bottom: 20px;">Formulário de Contato Suporte Uniformes</h4>
          <form #regForm="ngForm" style="margin-top: 20px;margin-bottom: 20px;">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="Nome">Nome</label>
                <input type="text" class="form-control" id="inputText4" placeholder="Seu nome" name="Nome" #Nome ngModel>
              </div>
              <div class="form-group col-md-6">
                <label for="inputText5">Sobrenome</label>
                <input  type="text" class="form-control" id="inputText5" placeholder="Sobrenome" name="SobreNome" #SobreNome ngModel>
              </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputAddress">Endereco</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Rua ..." name="Endereco" #Endereco ngModel>
            </div>
            <div class="form-group col-md-6">
              <label for="inputAddress">Telefone</label>
              <input type="text" class="form-control" id="inputAddress" name="Telefone" #Telefone ngModel>
            </div>
          </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Cidade</label>
                <input type="text" class="form-control" id="inputCity" name="Cidade" #Cidade ngModel>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Estado</label>
                <select id="inputState" class="form-control" #Estado name="Estado" ngModel>
                  <option selected>Escolha</option>
                  <option>Goias</option>
                  <option>São Paulo</option>
                  <option>Rio de Janeiro</option>
                </select>
              </div>
              <!-- <div class="form-group col-md-2">
                <label for="inputZip">Codigo Postal</label>
                <input #Cep type="text" class="form-control" id="inputZip"  name="Cep" ngModel>
              </div> -->
              <div class="form-group col-md-12">
                <label for="exampleFormControlTextarea1">Deixe a sua Mensagem</label>
                <textarea #Mensagem class="form-control" id="exampleFormControlTextarea1" rows="3" name="Mensagem" ngModel></textarea>
              </div>
            </div>
             <input type="button" class="btn btn-primary" value="Enviar Mensagem" (click)="Save(regForm)"/>
          </form>
        </div>
    </div>
      </span> 
</div>