body
{
    background-color: #fdfdfd;

}
/* #imgHeader
{ */
    /* background-image: url("../../assets/images/nav_footer.png");
    background-repeat: no-repeat;
    border-radius: 5px; */
/* } */
#logoHeader
{
    border-radius: 5px;
    z-index:0;
}
.alturaHeader30
{
    margin-top: 30px;
    margin-left: -15px;
}
.alturaHeader15
{
    margin-top: 15rem;
}
.alturaHeader10
{
    margin-top: 10rem;
}
.alturaHeader5
{
    margin-top: 5rem;
}
.alturaHeader-6
{
    margin-top: -6.988889rem;
}
.alturaHeader666
{
    margin-top: 6.66rem;
}
.alturaHeader555
{
    margin-top: 5.55rem;
}
.alturaHeader444
{
    margin-top: 4.44rem;
}
.alturaHeader333
{
    margin-top: 3.33rem;
}
.alturaHeader222
{
    margin-top: 2.22rem;
}
.alturaHeader20
{
    margin-top: 20rem;
}
.positionLeft
{
    float: left;
}
.component-footer {
    background-image: url("../../assets/images/nav_footer.png");
    background-repeat: no-repeat;
    position: static;
}
.imgw-30
{
    width:10%;
}
.section-apresentacao
{
    margin-top: 10px;
}
.section-home
{
    position: relative;
}
.aligment-home{
    vertical-align: middle;
}
.list-group-item
{
    background-color:none;
}
.pFooter
{
    width: 13em;
    color: white;
    height: 1em;
}
.margin-left25
{
    margin-left: 25rem;
}
.margin-left15
{
    margin-left: 15rem;
}
.margin-left10
{
    margin-left: 10rem;
}
.margin-left5
{
    margin-left: 5rem;
}
.margin-right25
{
    margin-right: 25rem;
}
.margin-right15
{
    margin-right: 15rem;
}
.margin-right10
{
    margin-right: 10rem;
}
.margin-right5
{
    margin-right: 5rem;
}
.margin-top5
{
    margin-top: 1.5rem;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #cef;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #cef transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .navbar-light .navbar-nav .nav-link 
  {
      color: white;
  }
  .navbar-light .navbar-brand
  {
      color: white;
  }

.btn-outline-dark
{
    color: #fff;
    border-color: #fff;
}
#fontSizeApp
{
    font-size: 18px;
    color: black;
}
.img-transparente
{
    filter:none;
}
.tamanhoImagemLogo
{
    width: 37%;
}

.bg-suporte
{
    background-color:white;
}
.navbar-light[_ngcontent-c0] .navbar-nav[_ngcontent-c0] .nav-link[_ngcontent-c0] {
    color: black;
}

#fontColor
{
    color: #fff;
}
#marginTop
{
    padding-top:0px;
}
#marginTop
{
    padding-bottom: 0em;
}
.card
{
    background-color:unset ;
    border:unset;
}
.carregaPagina:hover
{
    -webkit-transition-property: opacity; /* Safari */
    -webkit-transition-duration: 5s; /* Safari */
    -webkit-transition-delay: 2s; /* Safari */
    transition-property: opacity;
    transition-duration: 5s;
    transition-delay: 0.3s;
    opacity: 0.9;

}
carregaPagina
{
    opacity: 0.2;
}
.divisor
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* 
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  } */
  
  /* @keyframes mymove {
    0%   {opacity: 0.0;}
    25%  {opacity: 0.2;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.7;}
    100% {opacity: 0.9;}
  } */