@media (min-width:800px) and (max-width:1000px)
{
    .tamanhoImagemLogo
    {
        width: 37%;
    }
    
}
@media (min-width:1001px) and (max-width:1200px)
{
    .tamanhoImagemLogo
    {
        width: 37%;
    }   
}
@media (min-width:1201px) 
{
    .tamanhoImagemLogo
    {
        width: 37%;
    }
}

@media (min-width: 576px)
{
    .card-columns .card 
    {
        width: 30px;
    }
    
}