<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="loading">   
    <div class="blockColor">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <p class="text-justify textShow">{{mensagem}}</p>
        </div>
    </div>
</div>
<nav class="container-fluid navbar navbar-expand-lg navbar-light bg-suporte fixed-top carregaPagina" id="imgHeader">
        <a class="navbar-brand" routerLink="/app-home" style="margin-right: -6em;">
            <img src="../assets/images/Logo.png" class="d-inline-block align-top tamanhoImagemLogo img-transparente" alt="">
            </a>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" style="margin-right: 1em;" 
                routerLink="Home" routerLinkActive="active" id="fontSizeApp">
                <div class="testLine">
                    Home
                </div>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle bg-suporte" href="#" id="navbarDropdownMenuLink fontSizeApp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Uniformes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['item','UniformesEscolares']">Uniformes Escolares</a>
                    <a class="dropdown-item" [routerLink]="['item','UniformesEmpresariais']" >Uniformes Empresáriais</a>
                    <a class="dropdown-item" [routerLink] = "['item','ProdutosBale']" routerLinkActive="actve">Produtos Balé</a>
                    <a class="dropdown-item" [routerLink] = "['item','ProdutosNatacao']" routerLinkActive = "active">Produtos Natação</a>
                    <a class="dropdown-item" [routerLink] = "['item','RoupasFitness']" routerLinkActive="active">Roupas Fitness</a>
                </div>
            </li>
            <li class="nav-item active" style="margin-right: 1em;">
              <a class="nav-link" id="fontSizeApp" routerLink="./localizacao">Como Chegar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="margin-right: 1em;">
              <a class="nav-link" routerLink="app-contatos" id="fontSizeApp">Contatos</a>
            </li>   
          </ul>
        </div>
        <form #regForm="ngForm" class="form-inline" id="formPesquisar" autocomplete="off">
            <input #textPesquisa name="textPesquisa" class="form-control mr-sm-2" 
            type="text"
             placeholder="Search" id="searchData" ngModel (keyup)="PesquisarDados(regForm)"/>
            <button class="btn btn-primary my-2 my-sm-0" type="submit" (click)="PesquisarDados(regForm)">Search</button>
            <div class="row"></div>
            <div class="align-middle"
                aria-labelledby="searchData" id="resultData">
                    <ul class="list-group" id="listaDados">
                        <div *ngFor="let res of results">
                            <li id="textCaminhoPesquisa" class="list-group-item"><a href="{{res['Caminho']}}"> {{res['Nome']}} </a></li> 
                        </div>
                    </ul>
                </div>
        </form>
        
      </nav>    
      
    
<router-outlet></router-outlet>
    
      <!-- Footer -->
      <div class="row"></div>
    <div class="divisor"></div> 
    <nav class="component-footer">
        <div class="row">
            <div class="container" style="margin-top:13px;">
                <div class="row">
                    <div class="col">
                        <div class="row"> <!-- Mode Orientantion Horizontal aligment. -->
                            <div class="col-10">
                                <h5>Endereço Unidade I</h5>
                                <p class="text-jusitify">Rua Professor Lazaro oestes s/n Qd 14 Lt 17 - loja 01 - Vila Nova Canaã - Goiânia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col">
                            <h4>Nossos Uniformes</h4>
                            <p id="corMenus"><a id="menus" [routerLink]="['item','UniformesEscolares']">Uniformes Escolares</a></p>
                            <p id="corMenus"><a id="menus" [routerLink]="['item','UniformesEmpresariais']" >Uniformes Empresáriais</a></p>
                            <p id="corMenus"><a id="menus" [routerLink] = "['item','ProdutosBale']" routerLinkActive="actve">Produtos Balé</a></p>
                            <p id="corMenus"><a id="menus" [routerLink] = "['item','ProdutosNatacao']" routerLinkActive = "active">Produtos Natação</a></p>
                            <p id="corMenus"><a id="menus" [routerLink] = "['item','RoupasFitness']" routerLinkActive="active">Roupas Fitness</a></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-10">
                            <h5>Endereço Unidade II</h5>
                            <p class="text-jusitify">Rua Irlanda s/n Qd 131 Lt 15 - Jd Europa - Goiânia.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>&copy;2019 Brendon Mascarenhas</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>

<!-- Search -->

<button type="button" class="btn btn-primary" id="btnModalSearch" data-toggle="modal" data-target="#resultadoDaPesquisa">Small modal</button>

<div class="modal fade" id="resultadoDaPesquisa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
              Resultado da Pesquisa
            </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div *ngIf="results?.length > 0; else elseBlock">
                <div class="alert alert-success" role="alert">
                        Resultados encontrados ! </div>
                  <ul class="list-group" *ngFor="let res of results">
                      <li class="list-group-item">
                        <a href="{{res['caminho']}}"> Pesquisa relacionada com a palavra : {{res['nome']}} </a></li>
                      <!-- <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li> -->
                    </ul>
                </div>
                <ng-template #elseBlock>
                <div class="alert alert-warning" role="alert">
                        Alerta !
                        </div>
                    <ul class="list-group">
                      <li class="list-group-item" style="color: red"> Nenhum resultado foi encontrado, por favor, refaça a sua pesquisa !</li>
                    </ul>
                </ng-template>
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
<!-- /search -->



<!-- Mensagem de erro -->
<button type="button" class="btn btn-primary" id="btnError" data-toggle="modal" data-target="#errorPesquisa">Small modal</button>

<div class="modal fade" id="errorPesquisa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
              Error
            </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item" style="color: red"> Ocorreu algum erro na hora da pesquisa. !</li>
                </ul>
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
<!-- /search -->