/* Brendon Versao 1.0 */

.lds-ring {
    display: inline-block;
    position: fixed;
    width: 64px;
    height: 64px;
    top: 25%;
    left: 50%;
    z-index: 2;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    
    border: 6px solid #cef;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #cef transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.blockColor
{
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 20;
  opacity: 0.9;
  /* visibility: visible; */
  top: 0;
  bottom: 0;
}

/* @media only screen and (max-width: 800px) {
  .blockColor {
    height: 800px;
  }
}

@media only screen and (max-width: 1000px) {
  .blockColor {
    height: 1000px;
  }
}

@media only screen and (max-width: 1200px) {
  .blockColor {
    height: 200vh;
  }
}

@media only screen and (max-width: 1400px) {
  .blockColor {
    height: 200vh;
  }
}
@media only screen and (max-width: 1600px) {
  .blockColor {
    height: 1600px;
  }
} */

.textShow
{
  margin-top: 100%;
  color: white;
}

  