<div *ngIf="loading">   
    <div class="blockColor">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <p class="text-justify textShow">{{mensagem}}</p>
        </div>
    </div>
</div>

<div class="container" style="margin-bottom: 1opx;">
  <div class="container" style="margin-top: 20px;margin-bottom: 20px; text-align: center">
      <h3>Seja Bem Vindo  {{nome}}</h3>
      <p class="text">Este Painel é o painel de configuração do site.</p>
  </div>
<div class="row">
  <section class="col-4" style="margin-top: 10px;">
      <h4 style="text-align:left">Seções</h4>
      <div class="divisor"></div>
      <div class="d-flex w-100">
        <div aria-expanded="false" data-target="#subMenuRoupas" 
        data-toggle="collapse" href="#subMenuRoupas" 
        class=" collapsed col-8 btn btn-link">
        Configurações
        </div>
      </div>
      <div class="collapse" id="subMenuRoupas" aria-expanded="false">
          <ul class="flex-column pl-2 nav">
              <li class="nav-item">
                  <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" 
                  (click)="carregaComponentDashboard('PostarFotos')">Postar Fotos Uniformes</button>
                  <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" 
                  (click)="carregaComponentDashboard('DeletarFotos')">Deletar Fotos Uniformes</button>
              </li>
          </ul>
      </div>  
  </section>
  <section class="col-8" style="margin-top: 10px;margin-bottom: 10px;">
    <div style="border-style:solid;border-width: 0px; border-left-width: 1px;">
      <div class="container">
        <h4 style="text-align:left">Paramentros</h4>


        <!-- Nome component -->
        <!-- <div *ngIf = "nomeComponent=='ConfiguracaoMenus'">
          <div class="section-destaque">
            <div class="container">
              <div *ngFor="let menu of listaDeMenus"> 
                <form>
                  <div class="form-group row">
                  <div class="col-2">
                    <p class="text-justify">{{menu['nome']}}</p>
                  </div>
                  <div class="col-1">
                      <i class="fas fa-edit" (click)="ClickEdit(menu['nome'])"></i>
                  </div>
                  <div class="col-1">
                    <i class="fas fa-trash-alt" (click)="DeletarMenu()"></i>
                  </div>
                  </div>
                  <div *ngIf="mostrarCampo && preencherCampo==menu['nome']">
                  <input type="text" class="form-control" id="inputZip" name="menu['nome']" value="{{preencherCampo}}" />
                  <div class="form-group"> -->
                    <!-- <input type="button" class="btn btn-primary" value="Alterar Nome"/>
                    <input type="button" class="btn btn-primary" value="Cancelar" (click)="Cancelar()"/>
                  </div>
                  </div>
                </form>  
              </div>
            </div>     
          </div>
        </div> -->




        <!-- Nome Component -->
        <div *ngIf="nomeComponent=='PostarFotos'">
          <div class="container">
                <form style="border:1px solid black;margin-top: 1em;" class="container">
                  <div *ngFor='let url of imagesArray'>
                    <div class="container" style="margin: 0;margin-top: 1em;">
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Imagem</label>
                        <div class="col-sm-10">
                          <img [src]="url" height="200" class="rounded-0"> 
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Titulo da Imagem</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputTituloImagem" placeholder="Titulo da Imagem" (keyup)="OnTituloImage($event,url)">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Descrição da Imagem</label>
                          <div class="col-sm-10">
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" (keyup)="OnDescricaoImage($event,url)"></textarea>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Deletar Imagem</label>
                          <div class="col-sm-10">
                             <i class="fas fa-trash-alt" (click)="DeletarImagem(url)"></i>
                        </div>
                      </div>

                  </div>
                  </div>
                </form>
                <div style="margin-top: 1em" *ngIf="CanSalvar">
                  <button class="btn btn-primary" type="submit" (click)="salvarImagens()">Salvar Imagens</button>
                </div>

              <!-- <h3>Titulo</h3>
              <input type="text" #tituloDaImagem ngModel name="Titulo"/>
              <h2>Descricao Imagem</h2> -->
              <!-- <input type="text" #textoDescricao ngModel name="TextoDescricao"/>
              <p> Excluir Imagem  <i class="fas fa-trash-alt" (click)="DeletarImagem(url)"></i></p> -->
            <div style="margin-top: 1em;"> 
              <select class="custom-select" id="inputGroupSelect01"
              [(ngModel)]="tipoImagem" aria-placeholder="Selecionar"  >
                <option value="1">Uniformes Escolares</option>
                <option value="2">Uniformes Empresáriais</option>
                <option value="3">Produtos Balé</option>
                <option value="4">Produtos Natação</option>
                <option value="5">Roupas Fitness</option>
              </select>
              <div style="margin-top: 1em;"> 
                <input type='file' (change)="upload($event)" multiple>
              </div>
            </div>  
        </div>
        </div>
        <!-- Finish Component Postar fotos -->



        <div *ngIf="nomeComponent=='DeletarFotos'">
            <div class="container">
                  <form style="border:1px solid black;margin-top: 1em;" class="container">
                    <div *ngFor='let url of imagesArray'>
                      <div class="container" style="margin: 0;margin-top: 1em;">
                        <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Imagem</label>
                          <div class="col-sm-10">
                            <img src="{{servidorWebApi}}{{url['caminhoImagem']}}" height="200" class="rounded-0"> 
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Titulo da Imagem</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputTituloImagem" value="{{url['tituloImagem']}}" readonly>
                          </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Descrição da Imagem</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly>{{url['descricaoImagem']}}</textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Deletar Imagem</label>
                            <div class="col-sm-10">
                               <i class="fas fa-trash-alt" (click)="DeletarImagemDoBd(url)"></i>
                          </div>
                        </div>
  
                    </div>
                    </div>
                  </form>
  
                <!-- <h3>Titulo</h3>
                <input type="text" #tituloDaImagem ngModel name="Titulo"/>
                <h2>Descricao Imagem</h2> -->
                <!-- <input type="text" #textoDescricao ngModel name="TextoDescricao"/>
                <p> Excluir Imagem  <i class="fas fa-trash-alt" (click)="DeletarImagem(url)"></i></p> -->
              <div style="margin-top: 1em;"> 
                <div style="margin-top: 1em;"> 
                  <p>Escolha o Tipo de Imagem</p>
                </div>
                <select class="custom-select" id="inputGroupSelect01"
                [(ngModel)]="tipoImagem" aria-placeholder="Selecionar" (change)="OnChange($event)">
                  <option value="1">Uniformes Escolares</option>
                  <option value="2">Uniformes Empresáriais</option>
                  <option value="3">Produtos Balé</option>
                  <option value="4">Produtos Natação</option>
                  <option value="5">Roupas Fitness</option>
                </select>
              </div>  
          </div>
          </div>
        </div>
      </div>  
  </section>
</div>



<!-- Modal -->
<div *ngIf="CanMensagemModal">
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Teste Modal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</div>