<hr class="featurette-divider"/>

<div class="container" style="padding-top: 7.5rem;padding-bottom: 3.5rem;">
  <div class="card">
      <div class="card-body"> 
          <h5 class="card-title">Sobre a Loja</h5>
          <h6 class="card-subtitle mb-2 text-muted">Suporte Uniformes</h6>
          <p class="card-text textAlign">Estamos a mais de 10 anos no mercado, acompanhando de perto a moda, os desfiles e quais serão os estilos nos próximos meses.
            Atualmente abrangemos um nicho de mercado para pessoas que buscam se sentir confortavel, estarem na moda e o principal, mostrar a sua beleza.
            Hoje desenvolvemos vários estilos, o nosso ponto forte é os uniformes escolares, mas conseguimos atrair clientes em outros estilos. 
            Exemplos são moda fitnes, copa do mundo, carnaval, quadrilha, jalecos e muito mais.
            <br> Temos uma equipe altamente qualificada, com o seu desempenho, trázendo uma boa qualidade para você.
            Sabemos que atualmente cada corpo possui um biotipo, maioria das pessoas enfretam um problema para encontrar uma loja que forneça está qualidade.
            Nossas roupas são desenvolvidas com o strech ou conhecido como elastano. Age de acordo com o seu corpo e não com o nosso padrão. Esse é o nosso diferencial, é isto que nos deixa mais a frente do négocio, deixando os clientes mais satisfeitos.
          </p>
        </div>  
    </div>
</div>
<hr class="featurette-divider"/>
<!-- <div class="container">
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Cabeçalho</div>
      <div class="card-body">
          <h5 class="card-title">Titulo do cartao</h5>
          <p class="card-text">Texto do cartao.</p>
      </div>
  </div>
</div> -->