/* You can add global styles to this file, and also import other style files */
.divider-footer
{
margin-top: 20px;
}
.bg-color-bottom
{
    background-color: #fff;
}
.btn-primary-menu:hover
{
    background-color:#007bff;
    border-color: #1d2124;
    border-width: 0.1em;
}