<div *ngIf="loading">   
    <div class="blockColor">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <p class="text-justify textShow">Carregando Elementos Home</p>
        </div>
    </div>
</div>
<hr class="featurette-divider"/>
    <div id="carouselExampleIndicators" class="carousel slide carregaPagina" data-ride="carousel" style="    padding-top: 4.5rem;
    padding-bottom: 4.5rem;">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <!-- <div class="container"> -->
                    <div class="carousel-item active">
                        <img class="d-block imgCarousel" src="../assets/images/Loja/1.png" alt="First slide">
                    <div class="container">
                      <!-- <div class="carousel-caption d-none d-md-block imgOne">
                            <h5>A mais de 10 anos no mercado.</h5>
                        </div> -->
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block  imgCarousel" src="../assets/images/Loja/2.png" alt="Second slide">
                      <div class="carousel-caption d-none d-md-block">
                          
                      </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block  imgCarousel" src="../assets/images/Loja/4.png" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block  imgCarousel" src="../assets/images/Loja/entrada_3.JPG" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color:black"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>


    <div class="card text-center carregaPagina">
        <!-- <div class="card-header">
            Suporte Uniformes
        </div> -->
        <div class="card-body">
            <h5 class="card-title">Seja Bem Vindo a Suporte Uniformes.</h5>
            <p class="card-text">Somos especialistas nos melhores uniformes do mercado.</p>
            <a href="#" class="btn btn-primary" routerLink="/app-contatos">Entre em contato conosco</a>
        </div>
        <!-- <div class="card-footer text-muted">
            2 days ago
        </div> -->
    </div>
          

<!-- Nossos modelos -->
<div class="divider"></div>
<div class="row">
    <div class="container">
        <div class="col">
            <div style="margin-top:4.5em;margin-bottom: 4.5em;">
                <h3 class="text-center">Nossos Modelos</h3>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-6">
                                <h2 style="margin-top: 4em;">Modelos Balé <span style="color:#000000b3;">para toda idade</span></h2>
                                <span style="color:#000000b3;">Sua filha terá o melhor modelo do mercado!</span>
                            </div>
                            <div class="col-6">
                                <img class="card-img-top imgHover" src="../assets/images/Products/1.JPG" alt="Card image cap" width="500px" height="500px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
                <div style="margin-top:4.5em;margin-bottom: 4.5em;">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-6">
                                    <img class="card-img-top imgHover" src="../assets/images/Products/2.JPG" alt="Card image cap" width="500px" height="500px;">
                                    
                                </div>
                                <div class="col-6">
                                    <h2 style="margin-top: 4em;">Modelos Empresariais</h2>
                                    <span style="color:#000000b3;">Tamanhos Váriados</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                    <div style="margin-top:4.5em;margin-bottom: 4.5em;">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-6">
                                        <h2 style="margin-top: 4em;">Uniformes Empresariais.</h2>

                                        <span style="color:#000000b3;">Vários Tamanhos</span>
                                        
                                    </div>
                                    <div class="col-6">
                                        <img class="card-img-top imgHover" src="../assets/images/Products/3.JPG" alt="Card image cap" width="500px" height="500px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col">
            <div style="margin-top:4.5em;margin-bottom: 4.5em;">
                <!-- <h3 class="text-center">Nossos Modelos</h3> -->
            </div>
            <!-- <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-6">
                                <img class="card-img-top imgHover" src="../assets/images/Products/4.JPG" alt="Card image cap" width="500px" height="500px;">
                                
                            </div>
                            <div class="col-6">
                                    <h2 style="margin-top: 4em;">Uniforme Short Saia</h2>
                                    <span style="color:#000000b3;">Para todas as idades!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col">
            <div style="margin-top:4.5em;margin-bottom: 4.5em;">
                </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-6">
                            <img class="card-img-top imgHover" src="../assets/images/Products/5.JPG" alt="Card image cap" width="500px" height="500px;">
                        </div>
                        <div class="col-6">
                                <h2 style="margin-top: 4em;">Uniformes Escolares<span style="color:#000000b3;"></span></h2>
                                <span class="text-justify" style="color:#000000b3;">Fornecemos   para todas as unidades do sesi do Brasil.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
                <div style="margin-top:4.5em;margin-bottom: 4.5em;">
                    </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-6">
                                <h2 style="margin-top: 4em;">A sua roupa fitness é aqui.<span style="color:#000000b3;"></span></h2>
                                <span class="text-justify" style="color:#000000b3;">Direto de fábrica, custo barato e qualidade perfeita.</span>
                            </div>
                            <div class="col-6">
                                    <img class="card-img-top imgHover" src="../assets/images/Products/6.JPG" alt="Card image cap" width="500px" height="500px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="card text-center carregaPagina" style="margin-top: 10px; margin-bottom: 10px;">
        <!-- <div class="card-header">
            Suporte Uniformes
        </div> -->
        <div class="card-body">
            <h5 class="card-title">Nossas Redes sociais.</h5>
            <div class="row">
                <div class="col-6"></div>
                <div class="col-4" style="margin-left: -3em;">
                    <div class="row">
                        <div class="col-1">
                            <a href="https://www.instagram.com/suporteuniformes/?igshid=bb5m87gdffcj" target="_blank">
                                <img class="card-img-top img-transparente" src="../../assets/images/instagram_32.png" alt="Card image cap" style="width:30px;height:30px;filter:none;">
                            </a>
                        </div>
                        <div class="col-1">
                            <a href="https://www.facebook.com/suporteuniformes/" target="_blank" >
                                <img class="card-img-top img-transparente" src="../../assets/images/facebook_32.png" alt="Card image cap" style="width:30px;height: 30px;filter:none;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card-footer text-muted">
            2 days ago
        </div> -->
    </div>
    <!-- <div class="container col-12" style="padding-top: 2.5rem;padding-bottom: 2.5rem;">
        <h3 class="text-center" style="padding-top: 0.3em">Nossos Modelos</h3>
        <div class="container col-12" style="    margin-top: 2em;">
            <div class="card-deck col-10" style="padding-top: 0.7em;margin-left:10em">
             <div class="card ">
                 <img class="card-img-top imgHover" src="../assets/images/Products/1.JPG" alt="Card image cap">
                 <div class="card-body">
                 <h5 class="card-title">Modelo Balé</h5> 
                  <p class="card-text">Para crianças</p>
                 </div>
                 <div class="card-footer">
                     <button type="button" class="btn btn-primary btn-lg" routerLink="">Saiba Mais</button>
                 </div>
             </div>
         <div class="card">
             <img class="card-img-top imgHover" src="../assets/images/Products/3.JPG" alt="Card image cap">
             <div class="card-body">
             <h5 class="card-title">Uniformes Escolares</h5>
             <p class="card-text">A cada ano, o mesmo uniforme estará junto com você.</p>
             </div>
             <div class="card-footer">
                 <button type="button" class="btn btn-primary btn-lg" (click)="EnviarParaComponent('UniformesEscolares')">Saiba Mais</button>
             </div>
         </div>
         <div class="card">
             <img class="card-img-top imgHover" src="../assets/images/Products/4.JPG" alt="Card image cap">
                 <div class="card-body">
                     <h5 class="card-title">Short  Saia</h5>
                     <p class="card-text">Modelo short saia, ideia para meinas que gostam de saias.</p>
                 </div>
             <div class="card-footer">
                 <button type="button" class="btn btn-primary btn-lg" (click)="EnviarParaComponent('UniformesEscolares')">Saiba Mais</button>
             </div>
         </div>
         <div class="card float-sm-left" style="border: #FFF;margin-left:1.3em">
             <div class="container">
                 <div class="border border-primary" style="height:auto;">
                     <div class="container">
                         <h3>Venha nos fazer uma visita.</h3>
                         <iframe class="col-12"
                         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.771121016966!2d-49.31023478566016!3d-16.73826815133387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef71687726993%3A0x13013370a580ef5b!2sSesc+Fai%C3%A7alville!5e0!3m2!1sen!2sbr!4v1558455433101!5m2!1sen!2sbr" 
                         frameborder="0" width="75px" style="border:0" allowfullscreen>
                         </iframe>
                         <div class="card-footer" style="background: white">
                             <button
                             type="button" class="btn btn-primary btn-lg" id="btnHome">
                             <a href="/localizacao">
                                Saiba Mais
                             </a>
                            </button>
                         </div>
                     </div>                
                 </div>
             </div>
         </div>
     </div>    
</div>
</div> -->



    
 <!-- Moda praia 
 Moda FitNess
Acessorios para Natacao -->
          

    <!-- <hr class="featurette-divider"/> -->
<!-- <app-itens-roupas></app-itens-roupas> -->
<!-- <div class="container">
    <hr class="featurette-divider"/>
</div> -->

<!-- <div class="row"> -->
        <!-- <section class="col-2">
            <h4 style="text-align: center">Categorias</h4>
            <div class="dropdown-divider"></div>
            <div class="d-flex w-100" 
                    style="background:#007bff;">
                    <div class="btn btn-primary nav-link collapsed col-8 ">
                        Acessórios
                    </div>
                    <button aria-expanded="false" class="btn btn-primary nav-link col-2 collapsed btn-primary-menu" 
                    
                        data-target="#subMenuRoupas" data-toggle="collapse" href="#subMenuRoupas">
                        <i  class="fas fa-plus" style="
                    color: white;   
                    "></i>
                    </button>
                </div>
            <div class="collapse" id="subMenuRoupas" aria-expanded="false">
                <ul class="flex-column pl-2 nav">
                    <li class="nav-item">
                        <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')" >Rede de Cabelo</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')">Jalecos</button>
                    </li> -->
                    <!-- <li class="nav-item">
                        <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')" >Calça Legging</button>
                    </li> -->
                    <!-- <li class="nav-item">
                        <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')" >Colete</button>
                    </li>
                    
                </ul>
            </div>   
                <div class="dropdown-divider"></div>
        
                <div class="d-flex w-100" 
                    style="background:#007bff;">
                    <div class="btn btn-primary nav-link collapsed col-8">
                        Camisetas
                    </div>
                    <button aria-expanded="false" class="btn btn-primary nav-link col-2 collapsed btn-primary-menu" 
                        data-target="#subMenuUniformes1" data-toggle="collapse" href="#subMenuUniformes1">
                        <i  class="fas fa-plus" style="
                    color: white;   
                    "></i>
                    </button>
                </div>

                <div class="collapse" id="subMenuUniformes1" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item">
                                <button type="button" class="nav-link collapsed py-1 btn btn-link" 
                                data-toggle="collapse" (click)="carregaItens('calcaLeggins','Calcas Leggins')">Legs</button>
                            </li>
                            <li class="nav-item">
                                    <button type="button" 
                                    class="nav-link collapsed py-1 btn btn-link" 
                                    data-toggle="collapse" (click)="carregaItens('app-itens-roupas')">Camisa social</button>
                                </li>
                                <li class="nav-item">
                                    <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')" >Polo Baby Look</button>
                                </li>
                                <li class="nav-item">
                                    <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')" >Polo tradicional</button>
                                </li>
                                <li class="nav-item">
                                    <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')" >Camiseta Básica</button>
                                </li>
                        </ul>
                    </div> 
        
                <div class="dropdown-divider"></div>
                <div class="d-flex w-100" 
                    style="background:#007bff;">
                    <div class="btn btn-primary nav-link collapsed col-8 ">
                        Calcas 
                    </div>
                    <button
                    aria-expanded="false" class="btn btn-primary nav-link col-2 collapsed btn-primary-menu" 
                        data-target="#subMenuCalLeggings" data-toggle="collapse" href="#subMenuCalLeggings">
                        <i  class="fas fa-plus" style="
                    color: white;   
                    "></i>
                    </button>
                </div>
                <div class="collapse" id="subMenuCalLeggings" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item">
                                <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('calcaLeggins','Calcas Leggins')" >Calcas Leggins</button>
                            </li>
                                
                        </ul>
                    </div>
                <div class="dropdown-divider"></div>
        
                <div class="d-flex w-100" 
                    style="background:#007bff;">
                    <div class="btn btn-primary nav-link collapsed col-8 ">
                        Outros
                    </div>
                    <button
                    aria-expanded="false" class="btn btn-primary nav-link col-2 collapsed btn-primary-menu" 
                        data-target="#subMenuOutros" data-toggle="collapse" href="#subMenuOutros">
                        <i  class="fas fa-plus" style="
                    color: white;   
                    "></i>
                    </button>
                </div>
                <div class="collapse" id="subMenuOutros" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item">
                                <button type="button" class="nav-link collapsed py-1 btn btn-link" data-toggle="collapse" (click)="carregaItens('app-itens-roupas')" >Itens</button>
                            </li>
                                
                        </ul>
                    </div>
        </section> -->
    <!-- <section class="col-10">
        <ul class="nav nav-tabs">    
            <li class="nav-item">
                <a class="nav-link active">{{NomeAba}}</a>
            </li>
        </ul>
    <div class="section-destaque">
        <div class="container">
            <div class="row">
                      <div class="card md-4 shadow p-3 mb-2 bg-white rounded m-25 col-2 align-itens-destaque space-element" 
                      *ngFor="let cadaItem of listaDeRoupas">
                        <img class="card-img-top" src="{{cadaItem['caminhoImage']}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{cadaItem['nomeDaRoupa']}}</h5>
                            <p class="card-text">{{cadaItem['descricaoRoupa']}}.</p>
                            <div class="row"></div>
                            <a href="#" class="btn btn-primary">Ver sobre mais.</a>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </section> -->

    <!-- <img src="http://localhost:5000/images/image1.JPG" alt="" width="500px" height="500px"> -->

