@media (min-width:800px) and (max-width:1000px)
{
    .tamanhoDaImagem
    {
        height: 500px;
        width: 900px;
    }  
    
}
@media (min-width:1001px) and (max-width:1200px)
{
    .tamanhoDaImagem
    {
        height: 500px;
        width: 925px;
    }   
}
@media (min-width:1201px) 
{
    .tamanhoDaImagem
    {
        height: 500px;
        width: auto;
    }   
}