.card-with-shadown
{
    width: 18rem;
    height: 80%;
    left: 20px;
}
.featurette-divider{
    margin: 1.11111rem 0;
}
.jumbotron
{
    background-color: #fff;
}
.section-home
{
    margin-top: 10px;
}
.width-image-container-padrao
{
    height: 500px;
    width: 800px;
}
.imagemTamanhoHome
{
    height: 600px;
    width: 800px;
} 
.leftImage
{
    margin-left: 12%;
    /* margin-right: auto; */
}
.center-img
{
    text-align: center;
}

.tab
{
    margin-left: 1.2em;
}

.imgCarousel
{
    height: 450px;
    width: 69.3em;
}

#btnHome
{
    background-color : #fff;
}
#btnHome :hover
{
    
}