<hr class="featurette-divider"/>

<button type="button" class="btn btn-primary" id="btnModalSearch" data-toggle="modal" data-target="#resultadoDaPesquisa">Small modal</button>

<div class="modal fade" id="resultadoDaPesquisa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
              Resultado da Pesquisa
            </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div *ngIf="results?.length > 0; else elseBlock">
                  <ul class="list-group" *ngFor="let res of results">
                      <li class="list-group-item">
                        <a href="{{res['caminho']}}"> Pesquisa relacionada com a palavra : {{res['nome']}} </a></li>
                      <!-- <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li> -->
                    </ul>
                </div>
                <ng-template #elseBlock>
                    <ul class="list-group">
                      <li class="list-group-item" style="color: red"> Nenhum resultado foi encontrado, por favor, refaça a sua pesquisa !</li>
                    </ul>
                </ng-template>
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
